:root {
    --main-color: hsl(204, 100%, 50%);
    --text-clr-white: hsl(0, 0%, 94%);
    --text-clr-grey: hsl(0, 0%, 33%);
    --border-color: hsla(0, 0%, 20%, 0.2);
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    color: var(--text-clr-grey);
    font: 1rem monospace;
    text-align: center;
    border-bottom:1px solid var(--border-color);
    padding: 0 0 .9rem 0;
    /* font-weight: 900; */
}

.container {
    display: flex;
    align-items: flex-start;
    /* height: 100%; */
}

.content {
    height: 100%;
}

.containerf {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    padding: 0 1rem;
}

form textarea {
    height: calc(100vh - 230px);
    /* height: 100%; */
    margin: 0 0 1rem 0;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding:1rem;
    outline: none;
    resize:horizontal;
    user-select: none;
}

form textarea:focus {
    border-color: var(--main-color);
}

input[type=submit] {
    padding: .5rem;
    appearance: none;
    background: var(--main-color);
    border:none;
    border-radius: .3rem;
    color: var(--text-clr-white);
    font-weight: 900;
}

input[type=submit]:hover {
    background: var(--main-color);
    opacity: 0.74;
}

input[type=text] {
    padding: .5rem;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    user-select: none;
}

.form__item {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.form__item input[type=text] {
    flex:1;
    margin: 1rem 1rem 1rem 0;
}

.form__item label {
    font-family: monospace;
    font-size: .75rem;
    color: var(--text-clr-grey);
    user-select: none;
}

table {
    border-collapse: collapse;
}

table th,td {
    padding:.5rem;
    font:1rem monospace;
}

table th {
    font-weight: 900;
}

table td {
    font-size: 0.8rem;
}

table td {

    border: 1px solid var(--border-color);
    text-align:center;
}

table th, h1 {
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background: var(--main-color);
    user-select: none;
    color: var(--text-clr-white);

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: .5rem;
    text-decoration: none;
    color: var(--text-clr-white);
    font-family: monospace;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    margin: 0;
    padding: 0 2%;
    font-size: .7rem;
    font-family: monospace;
    color: var(--text-clr-grey);
    user-select: none;
}

.logo {
    height: 50px;
}

.logo svg {
    height: 100%;
}